# macOS系统生成的文件和目录
.DS_Store
.AppleDouble
.Applications
.LSOverride
.Caches
.freshinstall
Thumbs.db
.Trashes

# Python项目常见排除项
__pycache__
*.py[cw]
*.pyo
*.pyc
*.pyd
*.pyw
*.egg
*.egg-info
*.dist-info
*.ipynb
*.class
*.jar
*.war
*.nar
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.lock
*.db
*.sh
*.md5
*.sig
*.gz
*.tar.gz
*.zip
*.egg
*.pyz

# 临时文件和缓存
*.tmp
*~
*.swp
*.swo
*.bak
*.log
*.pid
*.lock
*.db
*.class
*.jar
*.war
*.nar
*.ipynb

# 其他排除项
CVS
SCM
.svn
.hg
.git
.Dockerfile*
.dockerignore
Dockerfile*

# 代码库和版本控制系统相关文件
*.[a-z]*.meta
*.suo
*.ncb
*.ncproj
*.sln
*.sdf
*.vssver
*.vssscc

# Python虚拟环境
venv/
env/

# Node.js项目排除项
node_modules/
npm-debug.log*

# Java项目排除项
target/
*.class
*.jar
*.war
*.ear
*.sar
*.swf
*.jsp
*.jspx
*.do
*.vm
*.properties

# 其他语言项目排除项（根据需要添加）